#playButton {
    width: 60px; /* ajuste conforme necessário */
    height: 60px; /* ajuste conforme necessário */
    border: none; /* remove a borda padrão do botão */
    background: none; /* remove o fundo padrão do botão */
    padding: 0; /* remove o preenchimento */
}

#playButton img {
    width: 100%; /* faz a imagem ocupar todo o espaço do botão */
    height: auto; /* mantém a proporção da imagem */
}
